<h2>Reactive Forms</h2>

<app-reactive-forms></app-reactive-forms>


<app-forms-demo></app-forms-demo>



<h1>Angular Router App</h1>

<nav>
  <ul>
    <li><a routerLink="/first-component/1">First Component</a></li>
    <li><a routerLink="/second-component">Second Component</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<!-- <button (click)="toggleComponent()">
  {{ showHelloComponent ? 'Hide' : 'Show' }} HelloWorld Component
</button>

<hr> -->

<!-- <app-hello-world *ngIf="showHelloComponent"></app-hello-world> -->
<!-- <app-parent> -->

<app-child>
  <p>This is from Root</p>
  <h1 question>Is this from app component</h1>
  <h3 answer>yes</h3>
</app-child>

<app-delete-items (deleteRequest)="deleteItem($event)"></app-delete-items>


<app-app-sizer [(size)]="fontSizePx"></app-app-sizer>
<div [style.font-size.px]="fontSizePx">
  Resizable text
</div>

<app-tempvar></app-tempvar>

<app-directives></app-directives>

<p [appHighlight]="'orange'">Test of Directives</p>

<app-httpclient></app-httpclient>